name: Deploy NPM to EC2

on: 
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
             cd /home/ec2-user/hello-world || exit 1
             eval "$(ssh-agent -s)"
             ssh-add /home/ec2-user/.ssh/id_ed25519
             git pull origin main
             npm install --omit=dev
             pkill node || true
             nohup node app.js > app.log 2>&1 &
